In [1]:
print("My name is Shreya")
print(1)
print(2.3)
print(True)
print((True, False))

My name is Shreya
1
2.3
True
(True, False)

In [2]:
# Airthmetic operators
print(12 + 13)
print(13-12)

print(12*13)
print(24/12)

print(3**3)

print(5%2) # Remainder
print(5//2) # Quotent

25
1
156
2.0
27
1
2

In [3]:
# Comparison operator
print(23==23) # equals to  
print(23!=23) # not equals to 

print(23>23)
print(23<23)

print(23>=23)
print(23<=23)

True
False
False
False
True
True

In [4]:
# Assignment operators
a = 10
b = 20

print((a, b))

a += 20
b -= 10

print((a, b))

a *= 2
print(a)

(10, 20)
(30, 10)
60

In [5]:
#logical operator
print(True and False)
print(True or False)
print(not True)

b = 16
print(b>10 and b<15)

if(b>10 and b<15):
    print(True)

False
True
False
False

In [6]:
# bitwise operator
# and = &, or= |
print(True & False)
print(True | False)
# print(!(20 = 20))

b = 16
print(b>10 & b<15)

if(b>10 & b<15):
    print(True)

False
True
True
True

In [7]:
# string
grade = 'a'
name = "Rajesh Hamal"
print(grade, type(grade))
print(name, type(name))
# integer
a = 10
print(a, type(a))
# float
b = 23.4
print(b, type(b))
# boolean
workDone = True
print(workDone, type(workDone))

a <class 'str'>
Rajesh Hamal <class 'str'>
10 <class 'int'>
23.4 <class 'float'>
True <class 'bool'>

In [8]:
# Collection data type
# list, dictionary, tuple
marks = [23, 45, 67, 89]
toPrint = (marks, type(marks))
print(toPrint)
print(type(toPrint))


student = {'name':'Rajesh Hamal', 'Age': 23, 'graduated': True}
print((student, type(student)))

([23, 45, 67, 89], <class 'list'>)
<class 'tuple'>
({'name': 'Rajesh Hamal', 'Age': 23, 'graduated': True}, <class 'dict'>)

In [9]:
a = 20
name = "Ram"

a += 2
print(a)

b = True
marks = 56.5

22

In [10]:
name, age, phone, email = "Ramesh", 34, 9847654564, "ramesh@abc.com"
print((name, age, phone, email))

('Ramesh', 34, 9847654564, 'ramesh@abc.com')

In [11]:
# student1qualification
s1q = s2q = s3q = "Graduated"
print((s1q, s2q, s3q))

('Graduated', 'Graduated', 'Graduated')

In [12]:
a = 20
b = 15

remainder = a%b
quotent = a//b

print(f"Remainder is {remainder}, Quotent is {a//b}")

print(type(quotent))

float_quotent = float(quotent)
print((float_quotent, type(float_quotent)))

print(type(int(float_quotent)))

marks1 = 75.2
marks_rounded = round(marks1)
print(marks_rounded)

Remainder is 5, Quotent is 1
<class 'int'>
(1.0, <class 'float'>)
<class 'int'>
75

In [13]:
# string concatination
s1 = "My name is Ram "
s2 = "I am 23"
ram = s1 + s2
print(ram)

My name is Ram I am 23

In [14]:

name = "Ram"
age = 23
# F string
print(f"My name is {name}, I am {age}")
#Format function
print("My name is {}, I am {}".format(name, age))
# % operator
print("My name is %s, I am %d" %(name,age))

My name is Ram, I am 23
My name is Ram, I am 23
My name is Ram, I am 23

In [15]:
# (len, min, max, str.index("a"), str.find("a"), str.count("a"), .lower(), .upper(), .strip("a"), .startswith(),  .replace(old, new), .split(","), delim.join(list))
ram = f"My name is {name}, I am {age}"
print(ram)

print(len(ram))
print((min('abcdz'), max('abcdz')))

My name is Ram, I am 23
23
('a', 'z')

In [16]:

# property functions
print(ram)
print((ram.index('a'), ram.find('a')))
# Research about differences between find and index
# Research about .strip("a"), .startswith(),

print(ram.count('R'))

print((ram.lower(), ram.upper()))
ram_upper = ram.upper()

My name is Ram, I am 23
(4, 4)
1
('my name is ram, i am 23', 'MY NAME IS RAM, I AM 23')

In [17]:
hari = ram.replace("Ram", "Hari")
print(hari)

text = "Ram, 24, student"
text_list = text.split(',')
print(text_list)

My name is Hari, I am 23
['Ram', ' 24', ' student']

In [18]:
hari_list = hari.split(' ')
print(hari_list)

joined_list = (" ").join(hari_list)
print(joined_list)
# help('str.join')

['My', 'name', 'is', 'Hari,', 'I', 'am', '23']
My name is Hari, I am 23

## Conditionals

In [19]:
num1 = 300
num2 = 300

if(num1>num2):
    print(f"{num1} is greater")
elif(num1 == num2):
    print("Both the numbers are equal")
else:
    print(f"{num2} is greater")

Both the numbers are equal

# Loops

In [20]:
age = [23,34,56,65]
for i in age:
    print(i)

23
34
56
65

In [21]:
for i in range(1,23, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21